body{
    font-size: 16px;
}

img{
    width: 100%;
}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


h1{
    text-align: center;

}

#testimonials{
    img{
        max-width: 4rem;
        max-height: 4rem;
        border-radius: 4rem;
        margin-bottom: 2rem;
    }
}

//colors

.navy{
    background-color:$navy;
}

.olive{
    background-color:$olive;
}

.beige{
    background-color:$beige;
}

.sand{
    background-color:$sand;
}

.offwhite{
    background-color:$offwhite;
}

.pattern{
    background-image: url(/images/mtpattern.png);
    background-size: cover;
}


ul{
    list-style: none;

    p{
        text-align: center;
    }
}


.header{
    font-family:$header;
    font-size: 1rem;
}

.main{
    font-family:'Brown Sugar', sans-serif;
    font-size: 4rem;
    color: $offwhite;
}



.bodytext{
    font-family: 'Biryani', sans-serif;
    font-size: 1rem;
}


header ul a:hover{
    color: $navy;
}

.active{
    color: $navy;
}


.icons {

    h2{
        font-size: 2rem;
        margin: 20px 0px;
    }

    p{
        font-family: $bodytext;
        color: $navy;
        font-size: .8rem;
        margin-top: 10px;
    }
}



.strong{
    font-family: $bodytext;
    font-style: 700;
}

.featuredrecipes p{
font-size: .7rem;
}


.frecipe2{
    color: $offwhite;
}

.frecipe3{
    color: $sand;
}

.wwa p{
    font-size: 1rem;
}

.wwa h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.wwa{
    margin: 40px 0px;
}


.grape h1{
    font-size: 2rem;
    text-align: center;
    color: $offwhite;
    z-index: 1;
    position: absolute;
}

.grape img{
    position: relative;
}


.scal p{
    color: $offwhite;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
  opacity: 85%;
  color: inherit;
}